/*

Códigos colores

amarillo - #f5b531
azul claro - #60bbe8
azul más oscuro - #36a9e0
verde - #238e70
blanco - #ffffff
negro - #000000

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    height: 100vh;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #60bbe8;
}

/*---Header Styles---*/
.header {
    position: fixed;
    width: 100%;
    background-color: #f5b531;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
}

.logo img {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    height: 64px;
    padding: 8px 0px;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.navbar li a{
    text-decoration: none;
    color: #000000;
    padding: 16px 8px;
    white-space: nowrap;
}

.navbar li a.active{
    text-decoration: none;
    color: #ffffff;
    padding: 16px 8px;
    border-bottom: 2px solid #ffffff;
}

.navbar ul li a:hover {
    color: #ffffff;
}

.dropdown {
    position: relative;
}

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 150%;
    left: -8px;
    white-space: nowrap;
}

.dropdown-menu li {
    padding: 8px;
    background-color: #f5b531;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-buttons {
    display: flex;
    gap: 16px;
    padding: 8px 0px;
}

.navbar-button {
    white-space: nowrap;
    background: #f2faf0;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

/*---Footer Styles---*/
.footer {
    background-color: #f5b531;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
    gap: 16px;;
    padding: 16px 16px;
}

.footer-links {
    display: flex;

}

.intern-links {
    display: flex;
    text-align: left;
    justify-content: center;
    width: 100%;
}

.intern-links ul li {
    margin-bottom: 8px;
    list-style-type: none;
}

.intern-links ul li a {
    color: #000000;
    text-decoration: none;

}

.extern-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    width: 100%;
}

.download {
    display: flex;
    gap: 16px;
}

.download img {
    height: 40px;
}

.social-media {
    display: flex;
    gap: 20px;
}
.fa-brands {
    color: #000000;
}

/*---Main Styles---*/
.main {
    background-color: #ffffff;
    height: 100%;
    width: 100vw;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main a {
    color: #238e70;
}

.login-container, .register-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.register-form {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 100%;
    text-align: left;
}

.register-container h2 {
    margin: 0 0 40px 0;
}

form img {
    width: 200px;
    margin: 32px;
}

form label {
    display: block;
    text-align: left;
    font-size: medium;
}

input[required] + label:after {
    content: '*';
    color: red;
  }

form input[type=text], [type=date], [type=email], [type=password], [type=tel], select {
    display: block;
    width: 340px;
    height: 40px;
    margin-bottom: 24px;
    border-radius: 4px;
    border: 1px solid #60bbe8;
    padding: 8px;
}

form textarea {
    display: block;
    width: 340px;
    margin-bottom: 24px;
    border-radius: 4px;
    border: 1px solid #60bbe8;
    padding: 8px;
} 

.help-block {
    margin-top: -20px;
    margin-bottom: 32px;
    font-size: smaller;
}

.register-container button, .login-container button {
    display: block;
    width: 340px;
    font-size: large;
    font-weight: bold;
    height: 56px;
    border-radius: 4px;
    border: none;
    background-color: #36a9e0;
    color: #ffffff;
    /* margin-bottom: 24px; */
}

.checkbox-register, .radiobutton-register {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
}

.footer-short {
    font-size: x-small;
}

.landing {
    display: flex;
    flex-direction: column;
}

.landing .section {
    display: flex;
    justify-content: space-around;
    padding: 8px 32px;
    width: 100%;
    gap: 20px;
    margin-bottom: 50px;
}

.section div {
    width: 100%;
}

.container-resenas h3 {
    font-size: larger;
    text-align: left;
    width: 100%;
    padding: 16px;
    background-color: #f5b531;
}

.section.banner {
    background-image: url(imgs/img-banner.png);
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-content: center;
    text-align: left; */
    gap: 40px;
}

.banner .text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
    text-align: left;
}

.banner-text {
    display:flex;
    flex-direction: column;
    gap: 70px;
}

.banner button {
    display: block;
    width: 340px;
    font-size: large;
    font-weight: bold;
    height: 56px;
    border-radius: 4px;
    border: none;
    background-color: #36a9e0;
    color: #ffffff;
    margin: 40px 0;
}

.banner button:hover {
    background-color: #60bbe8;
}

.servicios {
    display: flex;
    gap: 20px;
}

.servs {
    background-color: #f5b431c6;
    border-radius: 8px;
    padding: 16px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    align-content: center;
}

.collabs {
    display: flex;
    gap: 30px;
}

.collabs img {
    width: auto;
    height: 24px;
}

.newsletter {
    background-image: linear-gradient(#ffffff, #f5b531);
    /* border: solid 2px #f5b531; */
    padding: 24px;
    width: 100%;
    text-align: left;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.subscribe-button {
    display: block;
    width: 340px;
    font-size: large;
    font-weight: bold;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #36a9e0;
    color: #ffffff;
}

/* GRID*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    width: 800px;    
}

.grid-item img {
    image-rendering: 100%;
    width: 100%; 
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
    border: 2px solid #60bbe8;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19),
    0 6px 3px rgba(0, 0, 0, 0.23);
}

.galeria-fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria-fotos-textos {
    width: 1000px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.galeria-fotos-textos h1 {
    margin-bottom: 20px;
    background-color: #f5b531;
    padding: 10px 80px;
    color: #333333;
    border-radius: 10px;
    display: inline-block
}

.galeria-fotos-textos p {
    text-align: justify;

}


/* Reseñas*/

.container-resenas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.resena {
    background-color: rgba(0, 255, 255, 0);
    height: 400px;
    width: 1000px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #60bbe8;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19),
        0 6px 3px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0px;
    gap: 20px;
    padding: 20px;

}

/* img {
    opacity: 100;
    width: 100%;
} */

.foto {
    width: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10%;
    background-image: url(images/nicole.jpg);
    background-size: cover;
    background-position: center;

}

.foto-segunda {
    width: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10%;
    background-image: url(images/victor.jpg);
    background-size: cover;
    background-position: center;

}

.foto-tercera {
    width: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10%;
    background-image: url(images/romina.jpg);
    background-size: cover;
    background-position: center;

}

.texto {
    background-color: rgba(137, 43, 226, 0);
    width: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 60px;
    color: #333333;
    text-align: left;
    padding-left: 30px;
    text-align: justify;
}

.texto h1 {
    margin-top: 20px;
    color: #36a9e0
}

.stars {
    color: #f5b531;
}


/*PRECIOS*/

.section.planes {
    display: flex;
    flex-direction: column;
}

.pricing-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 0 50px;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 300px;
    border: 2px solid #36a9e0;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19),
    0 6px 3px rgba(0, 0, 0, 0.23);
    
}

.card h2 {
    color: #333333;
}

.card p {
    color: #666666;
}

.card .price {
    font-size: 32px;
    padding: 16px;
    background-color: #ffffff9c;
    color: #f5b531;
    margin-bottom: 20px;
    font-weight: bolder;
}

.card .btn {
    background-color: #f5b531;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.card .btn:hover {
    background-color: #36a9e0;
}

.card ul{
    text-align: left;
    padding-right: 10px;
}

.card s {
    color: #949393;
}

.card.destacada {
    background-image: linear-gradient(#f5b5319c, #36aae09c);
}

/* Terminos */
.terminos-condiciones {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 7%;
}

.terminos-condiciones h1 {
    margin-bottom: 4%;
    background-color: #f5b531;
    padding: 10px 20px;
    color: #333333;
    border-radius: 10px

}

.terminos-condiciones p {
    margin-bottom: 10px;
    color: #575656;
    
}

/*PERFIL*/
