/*

Códigos colores

amarillo - #f5b531
azul claro - #60bbe8
azul más oscuro - #36a9e0
verde - #238e70
blanco - #f2fafd
negro - #333333

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    height: 100vh;
}
/*---Header Styles---*/
.header {
    position: fixed;
    width: 100%;
    background-color: #f5b531;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;

}

.logo img {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    height: 60px;
    padding: 8px 0px;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.navbar li a{
    text-decoration: none;
    color: #333333;
    padding: 16px 8px;
    white-space: nowrap;
}

.navbar li a.active{
    text-decoration: none;
    color: #f2faf0;
    padding: 16px 8px;
    border-bottom: 2px solid #f2faf0;
}

.navbar ul li a:hover {
    color: #f2faf0;
}

.dropdown {
    position: relative;
}

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 150%;
    left: -8px;
    white-space: nowrap;
}

.dropdown-menu li {
    padding: 8px;
    background-color: #f5b531;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-buttons {
    display: flex;
    gap: 16px;
    padding: 8px 0px;
}

.navbar-button {
    white-space: nowrap;
    background: #f2faf0;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

/*---Footer Styles---*/
.footer {
    background-color: #f5b531;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
    gap: 16px;;
    padding: 16px 16px;
}

.footer-links {
    display: flex;

}

.intern-links {
    display: flex;
    text-align: left;
    justify-content: center;
    width: 100%;
}

.intern-links ul li {
    margin-bottom: 8px;
    list-style-type: none;
}

.intern-links ul li a {
    color: #333333;
    text-decoration: none;

}

.extern-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    width: 100%;
}

.download {
    display: flex;
    gap: 16px;
}

.download img {
    height: 40px;
}

.social-media {
    display: flex;
    gap: 20px;
}
.fa-brands {
    color: #333333;
}

/*---Main Styles---*/
.main {
    background-color: #faf8f0;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main a {
    color: #238e70;
}

.login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container img {
    width: 200px;
    margin: 32px;
}

.login-container label {
    display: block;
    text-align: left;
    margin: 24px;
}

.login-container input {
    display: block;
    width: 100%;
    margin: 24px;
}

.login-container button {
    display: block;
    width: 100%;
    font-size: large;
    font-weight: bold;
    margin: 24px;
}
